@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bgColor: #3b3b42;
    --textPrimary: #fff;
    --textSecondary: #7d7c7c;
    --accentColor: #f2be2e;


}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
}

main {
    margin: 50px auto;
}

h1 {
    color: var(--accentColor);
}

h1 svg {
    width: 80px;
}

#header {
    display: grid;
    margin: 20px -50px 30px; 
}
#timer {
    position: absolute;
    left: 50px;
    font-size: 18px;
}

#words {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    margin: 0 5;
    text-align: left;
    color: var(--textSecondary)
}

div#game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
}